.logo{
    margin-left: 20px;
}
body{
    font-family: 'Roboto',sans-serif;
}
.signup{
    width: 360px;
    height: 420px;
    margin: auto;
    
}
.signin{
    width: 360px;
    height: 280px;
    margin: auto;
    
}
h1{
    text-align: center;
    padding-top: 15px;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}
input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: black;
    color: aliceblue;
    font-size: 18px;
}
p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
.para{
text-align: center;
color: black;
font-size:15px ;
margin-top: -10px;
}
.para a{
    color: aquamarine;
}

