*{
    margin: 0;
    padding: 0;
   
}
*{
    box-sizing: border-box;
}
.logo{
    margin-right: 200px;
    margin-left: 30px;
}



#main{
    display: flex;
    align-items: center; 
}
.search {
    background-color: white;
    padding: 10px;
    width: 420px;
    margin: 2px 25px;
    margin-right: 200px;
    border: 2px;
    display: flex;
    justify-content: space-between;
     box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;;
    border-radius: 2px;

}

.search button {
    width: 20px;
    height: auto;
    justify-items: center;
    border: none;
    font-size: large;
}
.search input{
    width: 400px;
    border: 2px;
    outline: 3px;
    font-size: 20px;
}

#loginBtn{
    padding: 7px 50px;
    font-size: 16px;
    font-weight: 300;
    border: none;
    outline: none;
    margin-top: 30px;
    margin-right: 40px;

}
#cartBtn{
    margin-top: 20px;
    padding: 7px 50px;
    font-size: 16px;
    font-weight: 300;
    border: none;
    outline: none;
   
}
#log{
    border: 3px;
    color: antiquewhite;
    background-color: #0e130d;
}
#drop_down ul{
    display: inline-flex;
    list-style: none;
}
#drop_down ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
#drop_down ul li a{
    text-decoration: none;
    color: black;
    font-size: 30px;
}
#drop_down ul li:hover{
    background: whitesmoke;
    border-radius: 3px;
}
#sub-menu-1{
display: none;
}
#log{
    width: 400px;
    height: 70px;
    text-align: center;
    font-size: 30px;
    border: 2px;
    border-radius: 3px;
}
#register{
    width: 400px;
    height: 70px;
    text-align: center;
    font-size: 30px;
    border: 2px;
    border-radius: 3px;
}
#drop_down ul li:hover #sub-menu-1{
    display: block;
    position: absolute;
    background-color: whitesmoke;
    margin-top: 15px;
    margin-left: -15px;
}
#drop_down ul li:hover #sub-menu-1 ul{
    display: block;
    margin: 10px;
}
#drop_down ul li:hover #sub-menu-1 button{
    display: block;
    margin: 10px;
}
#one>hr{
    width: 100%;
    height: 5px;
    color: #000;
    background-color: #000;
}
#nav-bar2{
    text-align: center;
}
#nav-bar2 ul{
    display: inline-flex;
    list-style: none ;
}
#nav-bar2 ul li{
    width: 120px;
    margin: 15px;
    padding: 10px;
}
#nav-bar2 ul li a{
    text-decoration: none;
    color: silver;
}
.sub-menu2{
    display: none;
}
#nav-bar2 ul li:hover {
    background: #0e130d;
    border-radius: 3px;
}
#nav-bar2 ul li:hover .sub-menu2{
    display: block;
    position: absolute;
    color: aqua;
    background-color: azure;
    margin-top: 15px;
    margin-left: -15px;
}
#nav-bar2 ul li:hover .sub-menu2 ul{
    display: block;
    margin: 10px;
}
.flicker{
    margin-top: 30px;
    margin-bottom: 30px;
}
.flick{
    width: 66%;
    height: 500px;
    margin-right: 10px;
    border-radius: 15px;
    background-size: cover;
    background-position: center center;
}
.flick ::before{
    display: block;
    content: '';
}
.sub-cate {
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
.sub-cate img{
    width: 100%;
}
h1{
    text-align: center;
    margin: 20px 20px;
    font-size: 50px;
    
}
#offer{
display: flex;
gap: 20px;
}
.offer1>img{
    width: 100%;
}
.offer1>h3,.offer1>p{
    text-align: center;
    margin: 20px;
    font-weight: 60;
}
.offer1>button{
    width: 120px;
    height: 50px;
    background-color: whitesmoke;
    margin-left: 270px;
}
.offer1>h3{
    font-size: 30px;
}
.branding{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 30px;
    margin-top: 90px;
}
.branding img{
    width: 100%;
}
#extra{
    display: flex;
    gap: 20px;
}
.buying>img{
    width: 100%;
}
.buying>h3{
    text-align: center;
    margin: 20px;
    font-weight: 60;
}
.buying>button{
    width: 450px;
    height: 40px;
    font-size: 20px;
    background-color: #fba452;
}
.buying>button>i{
    margin-right: 10px;
}
.fullsize{
    margin-top: 40px;
}
.fullsize img{
    width: 100%;
}
footer{
    margin-top: 30px;
}
.footer{
    background-color: whitesmoke;
}
.container{
    max-width: 90%;
   
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: ;
}
#hr1{
    margin-top: 30px;
}
ul{
    list-style: none;
}
.foot1{
    width: 50%;
    padding: 0 15px;
}
.foot1 h4{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.foot1 button{
    margin-bottom: 30px;
    color: white;
    background-color: #0e130d;
    font-size: large;
    height: 60px;
    width: 90px;
}
.foot1 ul li{
    margin-bottom: 10px;
}
.foot1 ul li a{
    font-size: 20px;
    color: #000;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 100;
    margin-bottom: 20px;
    display: block;
    transition: all 0.3s ease;
}
.foot1 ul li a:hover{
    color: #0e130d;
    padding-left: 10px;
}
.foot1 .social-links a i{
    font-size: xx-large;
    
}
.foot1 .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color:whitesmoke;
    margin: 0 0px 0px 0;
    margin-bottom: 45px;
    text-align:center ;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
}
.foot1 .social-links a :hover{
    color: aqua;
    background-color: aquamarine;
}
.indiv{
    display: flex;

}
.in{
    margin-right: 60px;
    margin-left: 20px;
}
.hr2{
    width: 250px;
}
@media

